@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

@font-face {
    font-family: 'Libel Suit';
    src: url(./assets/fonts/libel-suit-rg.ttf); 
}
body, html {
    font-family: 'Libel Suit' !important;
}
.font-roboto {
    font-family: 'Roboto', sans-serif !important;
}
.text-green {
    color: #7BA02D !important;
}
.bg-green {
    background: #7BA02D !important;
}
.border-green {
    border-color: #7BA02D !important;
}
.text-blue,.active {
    color: #009AA8 !important;
}
.bg-blue {
    background: #009AA8 !important;
}
.slick-dots {
    bottom: 120px;
    padding: 6px;
    width: auto;
    margin-left: 70px;
}
.slick-dots li button:before {
    font-family: slick;
    font-size: 20px;
    width: 20px;
    height: 20px;
    content: '•';
    opacity: 1; 
    color: #fff;
  }
  .slick-dots li.slick-active button:before {
    opacity: 1; 
    color: #009AA8;
  }
#MobileNav {
    background: #fff;
    overflow: hidden;
}
.animation-in{
    height: 0;
    animation: slide .7s ease-in-out forwards;
}

@keyframes slide {
  from {height: 0;}
  to {height: 180px;}
}
.animation-out{
    height: auto;
    animation: slide-out .7s ease-in-out forwards;
}

@keyframes slide-out {
  from {height: 180px;}
  to {height: 0;}
}

.bg-lightcyan {
    background: rgba(0, 154, 168,10%);
}

/* Offer Page  */
#tabs-id li.active{
    background: #7BA02D !important;
}

.plus {
    transform: rotate(0deg);
    animation: rotate-45 0.2s ease-in-out forwards;
}
li.bg-green .plus {
    animation: rotate45 0.2s ease-in-out forwards;
}
@keyframes rotate45 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}
.togglePlus {
    transform: rotate(45deg);
    animation: rotate-45 0.2s ease-in-out forwards;
}
@keyframes rotate-45 {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(0deg);
    }
}